<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Foodfy</title>
</head>

<body>

    <header>
        <a class="logo" href="./index.html">Foodfy</a>
        <nav>
            <ul>
                <a href="#"><li>Sobre</li></a>
                <a href="#"><li>Receitas</li></a>
            </ul>
        </nav>
    </header>

    <section>
        <div id="cards" class="receitas">

            <div class="card" id="../assets/burger.png">
                <div>
                    <img src="../assets/burger.png" alt=""></div>
                <div>
                    <h4>Triplo bacon burger</h4>
                    <p>por Jorge Relato</p>
                </div>
            </div>
            
            <div class="card" id="../assets/pizza.png">
                <div>
                    <img src="../assets/pizza.png" alt=""></div>
                <div>
                    <h4>Pizza 4 estaçõesr</h4>
                    <p>por Fabiano Melo</p>
                </div>
            </div>

            <div class="card" id="../assets/espaguete.png">
                <div>
                    <img src="../assets/espaguete.png" alt=""></div>
                <div>
                    <h4>Espaguete ao alho</h4>
                    <p>por Júlia Kinoto</p>
                </div>
            </div>

            <div class="card" id="../assets/lasanha.png">
                <div>
                    <img src="../assets/lasanha.png" alt=""></div>
                <div>
                    <h4>Lasanha mac n' cheese</h4>
                    <p>por Juliano Vieira</p>
                </div>
            </div>

            <div class="card" id="../assets/doce.png">
                <div>
                    <img src="../assets/doce.png" alt=""></div>
                <div>
                    <h4>Docinhos pão-do-céu</h4>
                    <p>por Ricardo Golvea</p>
                </div>
            </div>

            <div class="card" id="../assets/asinhas.png"> 
                <div>
                    <img src="../assets/asinhas.png" alt=""></div>
                <div>
                    <h4>Asinhas de frango ao barbecue</h4>
                    <p>por Vania Steroski</p>
                </div>
            </div>

            <div class="card" id="../assets/burger.png">
                <div>
                    <img src="../assets/burger.png" alt=""></div>
                <div>
                    <h4>Triplo bacon burger</h4>
                    <p>por Jorge Relato</p>
                </div>
            </div>
            
            <div class="card" id="../assets/pizza.png">
                <div>
                    <img src="../assets/pizza.png" alt=""></div>
                <div>
                    <h4>Pizza 4 estaçõesr</h4>
                    <p>por Fabiano Melo</p>
                </div>
            </div>

            <div class="card" id="../assets/espaguete.png">
                <div>
                    <img src="../assets/espaguete.png" alt=""></div>
                <div>
                    <h4>Espaguete ao alho</h4>
                    <p>por Júlia Kinoto</p>
                </div>
            </div>

            <div class="card" id="../assets/lasanha.png">
                <div>
                    <img src="../assets/lasanha.png" alt=""></div>
                <div>
                    <h4>Lasanha mac n' cheese</h4>
                    <p>por Juliano Vieira</p>
                </div>
            </div>

            <div class="card" id="../assets/doce.png">
                <div>
                    <img src="../assets/doce.png" alt=""></div>
                <div>
                    <h4>Docinhos pão-do-céu</h4>
                    <p>por Ricardo Golvea</p>
                </div>
            </div>

            <div class="card" id="../assets/asinhas.png">
                <div>
                    <img src="../assets/asinhas.png" alt=""></div>
                <div>
                    <h4>Asinhas de frango ao barbecue</h4>
                    <p>por Vania Steroski</p>
                </div>
            </div>
        </div>
    </section>
        <div class="modal-overlay">
            <div class="modal">
                <img src="" alt="">
                <h4></h4>
                <p></p>

                <a class="close-modal" href="#">Fechar modal</a>
            </div>
        </div>

    <footer>Todos direitos reservados, receitas Foodfy</footer>
    
    <script src="../scripts.js"></script>
</body>