{% extends "layout.njk" %}

{% block content %}

<div class="about">

    <h3>Sobre o Foodfy</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nostrum culpa laudantium eveniet aut hic blanditiis quia magni aspernatur placeat nesciunt veritatis quibusdam, at dolor eligendi numquam distinctio saepe repudiandae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores sunt inventore ipsa, quam repudiandae debitis at eveniet exercitationem fugiat harum ad corporis laboriosam, tempora non esse necessitatibus architecto praesentium dolorum. Lorem</p>
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nostrum culpa laudantium eveniet aut hic blanditiis quia magni aspernatur placeat nesciunt veritatis quibusdam, at dolor eligendi numquam distinctio saepe repudiandae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores sunt inventore ipsa, quam repudiandae debitis at eveniet exercitationem fugiat harum ad corporis laboriosam, tempora non esse necessitatibus architecto praesentium dolorum. Lorem</p>

    <h3>Como tudo começou...</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nostrum culpa laudantium eveniet aut hic blanditiis quia magni aspernatur placeat nesciunt veritatis quibusdam, at dolor eligendi numquam distinctio saepe repudiandae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores sunt inventore ipsa, quam repudiandae debitis at eveniet exercitationem fugiat harum ad corporis laboriosam, tempora non esse necessitatibus architecto praesentium dolorum. Lorem</p>
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nostrum culpa laudantium eveniet aut hic blanditiis quia magni aspernatur placeat nesciunt veritatis quibusdam, at dolor eligendi numquam distinctio saepe repudiandae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores sunt inventore ipsa, quam repudiandae debitis at eveniet exercitationem fugiat harum ad corporis laboriosam, tempora non esse necessitatibus architecto praesentium dolorum. Lorem</p>

    <h3>Nossas receitas</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nostrum culpa laudantium eveniet aut hic blanditiis quia magni aspernatur placeat nesciunt veritatis quibusdam, at dolor eligendi numquam distinctio saepe repudiandae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores sunt inventore ipsa, quam repudiandae debitis at eveniet exercitationem fugiat harum ad corporis laboriosam, tempora non esse necessitatibus architecto praesentium dolorum. Lorem</p>
</div>

<footer>Todos direitos reservados, receitas Foodfy</footer>

{% endblock content %}

