<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Foodfy</title>
</head>

<body>

    <header>
        <a href="/">Foodfy</a>
        <nav>
            <ul>
                <a href="/about"><li>Sobre</li></a>
                <a href="/recipes"><li>Receitas</li></a>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}


</body>
</html>